[Unit]
Description=Keyboard Customization Tool
After=network.target

[Service]
ExecStart=kbct remap --config /etc/kbct.yaml
Restart=always

[Install]
WantedBy=multi-user.target

